<h1><%= @task.title %></h1>
<%= @task.details %>
<br>
<br>
<% if @task.completed %>
  This task is completed <i class="fa-solid fa-square-check"></i>
<% else %>
  This task is not completed <i class="fa-solid fa-square"></i>
<% end %>
<br>
<br>
<%= link_to "Edit task", edit_task_path %>
<br>
<br>
<%= link_to "Back to list", tasks_path %>
<br>
<br>
<%= link_to "Destory", task_path(@task), method: :delete, data: { confirm: "Delete #{@task.title}?"} %>
